<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.flex-container {
		    display: -webkit-flex;
		    display: flex;  
		    -webkit-flex-flow: row wrap;
		    flex-flow: row wrap;
		    text-align: center;
		}
		.flex-container > * {
		    padding: 15px;
		    -webkit-flex: 1 100%;
		    flex: 1 100%;
		}
		.right-column {
		    text-align: left;
		}
		header {background: white;color:black;}
		footer {background: #aaa;color:white;}
		.left-column {background:#eee;}
		@media all and (min-width: 768px) {
		    .left-column {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
		    .right-column {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
		    footer {-webkit-order:3;order:3;}
		}

		.btn-remove-notif {
			margin-left: 15px;
			color: #2d2d2d;
		}
		.btn-remove-notif:hover {
			color: #E07A5F;
			background-color: transparent;
		}
		.price, .compare-at-price {
			display: inline-block;
			width: 100px;
		}
		.price-to {
			color: #b7b7b7;
		}
		.data-price-diff {
			color: green;
		}
		.data-price-diff2 {
			color: red;
		}
		.data-product-title {
			height: 50px;
		}
	</style>
</head>
<body id="notifs">

	<div class="flex-container">
		
		<header>
		  <h1>Notifications</h1>
		</header>

		<div class="container-fluid text-center" id="page-content"> 
			<div class="row content" style="margin-top: 20px;">
				<div class="col-sm-10 text-left">
					<% @notifs.each do |notif| %>
					<div class="panel-heading">
						<strong><%= notif.created_at %></strong> <!-- notif date -->
					</div>
					<div class="panel-body">
						<div class="rows">
							<div class="col-md-10">
								<span>Product price has changed: </span>
								<a href="">
									<%= notif.product_title %>
								</a>
							</div>
							<div class="col-md-2">
								<button class="btn btn-default prd-view-prices" data-toggle="modal" data-target="#change-price-modal-<%= notif.id %>">View Prices</button>
								<a class="btn-remove-notif">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</div>
						</div>
					</div>
					<br/>
									<!-- ***MODAL*** -->
					<%= render partial: 'price_dialog' %>
					<% end %>
				</div>
			</div>
		</div>

	</div>

</body>
</html>