<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Orders</h2>


<table border="1" style="width:100%">
  <tr>
    <th>Order ID</th>
    <th>Recipient</th>
    <th>Total Order</th>
    <th>Date of Order</th>
    <th>Sale Total</th>
    <th>Sales Tax</th>
    <th>Payment Gateway</th>
    <th>Fulfillment Status</th>
  </tr>

  <tr>
    <td>aaa</td>
    <td>cust</td>
    <td>total</td>
    <td>aaa</td>
    <td>aaa</td>
    <td>aaa</td>
    <td>aaa</td>
    <td>aaa</td>
  </tr>
  
</table>
