<!DOCTYPE html>
<html>
	<% content_for :javascript do %>
	  <script type="text/javascript">
	    ShopifyApp.ready(function(){
	      ShopifyApp.Bar.initialize({
		title: "Order List",
		icon: "<%= asset_path('favicon.ico') %>"
	      });
	    });
	  </script>
	<% end %>

<head>
	<title></title>
</head>
	
	<body>
		<h2>Order List</h2>
	  <table>
	    <thead>
	      <tr>
		<th>Order Number</th>
	     </tr>
	    </thead>
	      <tbody>
		<% @orders.each do |o| %>
		  <tr>
		    <td><%= o.order_number %></td>
		  </tr>
		<% end %>
	    </tbody>
	  </table>
	</body>
</html>
