<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	
	<body>
		<h2>Order List</h2>
	  <table>
	    <thead>
	      <tr>
		<th>Order Number</th>
	     </tr>
	    </thead>
	      <tbody>
		<% @orders.each do |o| %>
		  <tr>
		    <td><%= o.id %></td>
		  </tr>
		<% end %>
	    </tbody>
	  </table>
	</body>
</html>
