<html>

  <body>




      <h2>Pushed Products</h2>

      <ul>
        <% @myproducts.each do |product| %>
          <div>
            <p>
              <b><%= product.title %><br></b>
            </p>
          </div>
        <% end %>
      </ul>
      <br>


  </body>

</html>
