<html>

  <body>




      <h2>Pushed Products</h2>

      <ul>
        <% @myproducts.each do |myproducts| %>
          <div>
            <p>
              <b><%= myproducts.title %><br></b>
            </p>
          </div>
        <% end %>
      </ul>
      <br>


  </body>

</html>
