<!DOCTYPE html>
<html>
<head>
	<title>Global Pricing Rules</title>
	<style type="text/css">
		/* make sidebar nav vertical */ 
		@media (min-width: 768px) {
			.sidebar-nav-2 {
				width: 250px;
			}
			.sidebar-nav-2 .navbar .navbar-collapse {
				padding: 0;
				max-height: none;
			}
			.sidebar-nav-2 .navbar ul {
				float: none;
				display: block;
			}
			.sidebar-nav-2 .navbar li {
				float: none;
				display: block;
			}
			.sidebar-nav-2 .navbar li a {
				padding-top: 12px;
				padding-bottom: 12px;
			}
		}
		.product-cost-lbl {
			margin-left: 25px;
		}
		.plus{
			margin-left: 25px;
			margin-right: 25px;
		}
		.markup-lbl, .price-tag {
			margin-left: 25px;
		}
		.Container, .price-tag, .product-cost-lbl,
		.group, .plus, .cap-toggle, .markup-lbl, .select-opt,
		.markup-type, .markup-type-2, #prd-markup-lbl, .col-md-1,
		.col-md-7, .compare-at-price-mu {
			display: inline-block;
		}
		.input-group-btn select {
			border-color: #ccc;
			margin-top: 0px;
		    margin-bottom: 0px;
		    padding-top: 7px;
		    padding-bottom: 7px;
		}
		.select-opt {
			width: 105px;
		}
		.price-markup, .cap-markup {
			display: inline-block;
			width: 80px;
		}
		.containerPanel {
			position: relative;
			width: 1000px;
			padding: 20px;
		}
		#settings-save-btn {
			right: 10px;
			top: 10px;
			position: absolute;
			background-color: #64bd63;
			color:#fff;
		}

		.flex-container {
		    display: -webkit-flex;
		    display: flex;  
		    -webkit-flex-flow: row wrap;
		    flex-flow: row wrap;
		    text-align: center;
		}
		.flex-container > * {
		    padding: 15px;
		    -webkit-flex: 1 100%;
		    flex: 1 100%;
		}
		.right-column {
		    text-align: left;
		}
		header {background: white;color:black;}
		footer {background: #aaa;color:white;}
		.left-column {background:#eee;}
		@media all and (min-width: 768px) {
		    .left-column {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
		    .right-column {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
		    footer {-webkit-order:3;order:3;}
		}
	</style>
	<script type="text/javascript">
		$(document).on('ready page:change', function(){
			var elem = document.querySelector('.js-switch');
			var init = new Switchery(elem, { size: 'small' });
		});
	</script>
</head>
<body id="gbp">

	<div class="flex-container">
	<h1>HELLO</h1>
	</div>
</body>
</html>