
	<table class="table table-condensed table-bordered table-striped volumes">
	  <thead>
	    <tr>
	      <th>Image</th>
	      <th>SKU</th>
	      <th>Color</th>
	      <th>Size</th>
	      <th>Cost</th>
	      <th>Price</th>
	      <th>Compared At Price</th>
	      <th>Inventory</th>
	    </tr>
	  </thead>

	  <tbody>
	    <tr>
	      <td><div class = "v-img"><%= image_tag(product.images, :alt => "img") %></div></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td><%= product.price %></td>
	      <td></td>
	      <td></td>
	      <td></td>
	    </tr>
	  </tbody>
	</table>