// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lineItem {
   width: 100%;
   height: 20px;
   position: absolute;
   margin-top: -10px;
   text-align: center;
}
