// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
        vertical-align: middle;
      }
      .input-group.input-group-sm, .input-group-addon{
        margin-top: 15px;
      }
      .all{
        text-align: right;
      }
      .product-title{
        margin-bottom: 20px;
      }
      .container-flex{
        width: 280px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        float: center;
      }
      .input-xs {
        height: 22px;
        padding: 2px 5px;
        font-size: 12px;
        line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
        border-radius: 3px;
      }
      .image_picker_image {
        max-width: 140px;
        max-height: 100px;
        background-color: #FF0000;
      }
      .tab-pane{
      	height: 300px;
      }
      .panel{
      	width: 1130px;
      }

.editor {
  height: 260px;
  overflow: auto;
}

// navbar
* {
  margin: 0;
  padding: 0;
  outline: none;
   
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 
nav.vertical {
  width: 170px;
  overflow: hidden;
  text-align: center;
  position: fixed;
  height: 100%;
  overflow-y: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
}
 
  nav.vertical > ul {
    list-style-type: none;
  }
 
    nav.vertical > ul > li {
      display: block;
      border-bottom: 1px solid rgba(255,255,255,.1);
    }
 
      nav.vertical > ul > li > a {
        float: center;
        display: block;
        font-size: .85rem;
        font-weight: 500;
        height: 50px;
        letter-spacing: .5rem;
        line-height: 50px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        border-bottom: 1px solid rgba(0,0,0,.05);
        text-transform: uppercase;
        transition: all .1s ease;
        text-decoration: none;
      }
 
        nav.vertical > ul > li > a:hover {
         color: white;
         background-color: rgb(114, 51, 98);
         background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98)); 
         cursor: pointer;
        }
         
          nav.vertical > ul > li > div {
            background-color: transparent;
            float: center;
          }
  
          nav.vertical > ul > li > div > ul {
            list-style-type: none;
          }
 
            nav.vertical > ul > li > div > ul > li > a {
             background-color: transparent;
             border-bottom: 1px solid rgba(0,0,0,.05);
             color: #333331;
             display: block;
             font-size: 1.1rem;
             padding: 10px 0;
             text-decoration: none;
             transition: all 0.15s linear;
            }
 
              nav.vertical > ul > li > div > ul > li:hover > a {                
                background-color: rgb(114, 51, 98);
                background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
                background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
                background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
                background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98)); 
                cursor: pointer;
              }

// navbar products
ul#myTab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

ul#myTab > li {
    float: left;
}

ul#myTab > li > a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#myTab > li > a.active {
    color: white;
    background-color: #black;
}

.panel-heading{
  border-bottom: 1px solid #000;
  width: 1120px;
  background-color: white;
}

.panel-footer{
  width: 1120px;
  background-color: white;  
}

.panel-body{
  width: 1120px;
  background-color: white;
  padding: 10px 0;
}


