// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
      
#page-content {
  width: 1024px;
  margin: 0 auto;
}

#prd-bulk {
  width: 1015px;
  margin-bottom: 20px;
}

.input-group.input-group-sm, .input-group-addon{
  margin-top: 15px;
}

.all{
  text-align: right;
}

.product-title{
  margin-bottom: 20px;
}

.container-flex{
  width: 280px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  float: center;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

.image_picker_image {
  max-width: 140px;
  max-height: 100px;
  background-color: #FF0000;
}

.tab-pane{
      height:300px;
}

.panel{
      width: 1130px;
}

.editor {
  height: 260px;
  overflow: auto;
}
 

// navbar products

ul#myTab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

ul#myTab > li {
    float: left;
}

ul#myTab > li > a {
    display: block;
    color: #2d2d2d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#myTab > li > a:active {
    color: #2b2b2b;
    background-color: white;
}

.panel-heading{
  border-bottom: 1px solid #000;
  width: 1000px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}


div.panel-footer{
  width: 1000px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.panel-body{
  width: 1000px;
  background-color: white;
  padding: 10px 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

#prd-head {
  background-color: #fff;
}

.btn.btn-success {
  margin-left: 5px;
  background-color: #81B29A;
  border: 1px solid #81B29A;
}

.btn.btn-default.all {
  background-color: #E07A5F;
  border: 1px solid #E07A5F;
  color: white;
}

span.input-group-addon {
  border: 1px solid #F2CC8F;
  background-color: #F2CC8F;
}

.panel-body.align-center.search-form {
  background-color: #2d2d2d;
  border: 1px solid grey;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

#searchprd {
  display: inline-block;
  width: 700px; 
  font-family: Verdana, Geneva, sans-serif; 
  margin-right: 10px; 
  color: black;
}

span#sizing-addon3.input-group-addon.w-tags {
  height: 30px;
}

#search-btn {
  display: inline-block;
  width: 100px;
}

.var-cost, .inv-qty {
  margin-top: 8px;
}

.prd-image {
  padding: 5px;
  border: 1px;
  border-style: solid;
  border-width: thin;
  border-color: #d3d3d3;
}

.prd-all {
  float: right;
}

#push-all-prd, #remove-all-prd {
  vertical-align: middle;
  display: inline-block;
  float: right;
}

#push-all-prd {
  margin-left: 10px;
}
