// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
        vertical-align: middle;
      }
      .input-group.input-group-sm, .input-group-addon{
        margin-top: 15px;
      }
      .all{
        text-align: right;
      }
      .product-title{
        margin-bottom: 20px;
      }
      .container-flex{
        width: 280px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        float: center;
      }
      .input-xs {
        height: 22px;
        padding: 2px 5px;
        font-size: 12px;
        line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
        border-radius: 3px;
      }
      .image_picker_image {
        max-width: 140px;
        max-height: 100px;
        background-color: #FF0000;
      }
      .tab-pane{
      	height: 300px;
      }
      .panel{
      	width: 1130px;
      }

.editor {
  height: 260px;
  overflow: auto;
}

.checkbox{
  float: center;
}
