<html>
<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });

  </script>

<% end %>

<p id="notice"><%= notice %></p>

<body>

<h1>Products</h1>

  <% @products.each do |product| %>

    <div class="row">
      <div class="col-md-6">
        <div class="panel with-nav-tabs panel-default">
          <div class="panel-heading">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#" data-toggle="tab">Default 1</a></li>
              <li><a href="#" data-toggle="tab">Default 2</a></li>
              <li><a href="#" data-toggle="tab">Default 3</a></li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                  <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
                </ul>
              </li>
            </ul>
          </div>
            <div class="panel-body">
              <div class="tab-content">
              <div class="tabs-body always-display">Default 1</div>
              <div class="tab-pane fade" id="tab2default">Default 2</div>
              <div class="tab-pane fade" id="tab3default">Default 3</div>
              <div class="tab-pane fade" id="tab4default">Default 4</div>
              <div class="tab-pane fade" id="tab5default">Default 5</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>

</body>

</html>