
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
    <li>
        <%= link_to image_tag("trolley-white.png", alt: "logo", size: "50x50"), '/', class: "disabled" %>
    </li>
    <li>
        <%= link_to image_tag("pricetag-white.png", alt: "logo", size: "50x50"), '/my_products', class: "disabled" %>
    </li>
    <li>
        <%= link_to image_tag("pages.png", alt: "logo", size: "50x50"), '/orders' %>
    </li>
  </ul>
</nav>
