<head>
<nav class="navbar navbar-fixed vertical">
      <ul>
        <li>
          <%= image_tag("shopbag.png", alt: "logo", size: "20x20") %>
          <div>
            <ul>
              <li><a href="/">Imports List</a></li>
              <li><a href="/my_products">My Products</a></li>
            </ul>
          </div>
        </li>
        <li>
          <%= image_tag("pages.png", alt: "logo", size: "20x20") %>
          <div>
            <ul>
              <li><a href="/orders">Orders</a></li>
            </ul>
          </div>
        </li>
      </ul>
  </nav>

</head>
