<head>
<nav class="navbar navbar-fixed vertical">
      <ul>
        <li>
          <%= link_to image_tag("shopbag.png", alt: "logo"),
            '#' %>
          <div>
            <ul>
              <li><a href="/">Imports List</a></li>
              <li><a href="/my_products">My Products</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#">List 2</a>
          <div>
            <ul>
              <li><a href="/orders">Orders</a></li>
            </ul>
          </div>
        </li>
      </ul>
  </nav>

</head>
